// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$morado: #7027A0;
$fondo: rgb(243, 186, 28);
$botones: rgb(243, 186, 28)
