<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido a MuestraTuSena.cl, <%= @user.name %></h1>
    <p>
      Te has registrado en MuestraTuSena.cl,
      tu usuario es: <%= @user.login %>.<br>
    </p>
    <p>
      Para acceder al sitio, solo sigue este link: <%= @url %>.
    </p>
    <p>Gracias por registrarte, que tengas un bonito día!</p>
  </body>
</html>
