  <h3>Hola Bienvenidos</h3>

  <H4> Somos un Taller para personas sordas
  donde aprenderan la lectoescritura, deletreo dactilologico, lectura labial
  la lengua de señas LSCH, cultura de Chile, pueblos originarios teatro, poesia,danza
  Teniendo una comunicacion mas inclusiva y logrando erradicar la analfabetizacion
  que afecta a la comunidad sorda.</H4>
