  <h3>Hola Bienvenidos</h3>

  <H4>Personas sordas y oyentes al Taller gratuito Muestra Tu Se単a.
  Erradicaremos la analfabetizacion que afecta a la comunidad sorda.
  viajaremos al mundo del silencio.
  aprenderan la lengua de se単as LSCH, la lectoescritura, deletreo dactilologico, lectura labial,
  cultura de Chile, cultura de pueblos originarios, teatro, poesia, danza, canciones infantiles en se単as,
  cuentose単as, modulos de primeros auxilios, comida saludable, deportes, salud, juegos de roles.
  Teniendo una comunicacion mas inclusiva y rompiendo la barrera del silencio</H4>
