  <h1>Hola Bienvenidos </h1>
  <H2> Somos Joaquin y Patricia un Taller para personas sordas y oyentes
  donde aprenderan la lectoescritura deletreo dactilologico lectura labial y
  lengua de señas LSCH.
  Teniendo una comunicacion mas inclusiva y logrando erradicar la analfabetizacion
  que afecta a la comunidad sorda.</H2>
