  <h3>Hola Bienvenidos</h3>

  <H4>Bienvenidos a todo niño y niña, joven o adulto que necesite las herramientas y oportunidades para su desarrollo en la comunicacion aprendiendo LSCH y Sistema Braille personas sordas y personas ciegas y con espectro autista que necesite poder comunicarse con sus padres y a toda persona que le interese la comunicacion inclusiva.</H4>

<H4>Este Proyecto desea cubrir con urgencia una necesidad de material digital y físico de videos audiovisuales descriptivos para el trabajo en las aulas de niños y niñas con necesidades educativas especiales.
 Viajaremos al mundo del silencio y de sombras mediante cursos, talleres con docentes sordos profundos y ciegos.
  Aprenderán la lecto escritura, la lectura labial deletreo dactilológico LSCH y Braille, cultura de Chile, cultura de pueblos originarios, cuentos en LSCH subtitulados narrados y descriptivos, poesia, cocina, canciones infantiles, danza, deporte, museos, cápsulas de servicio de salud, de bomberos, de carabineros, capsula judicial, de embarazo y amamantar, juegos de roles de oficinas públicas.</H4>
 <H4>Romperemos las barreras del silencio y les daremos luz en su camino de sombras.
</H4>
