  <h3>Hola Bienvenidos</h3>

  <H4> Somos un Taller para personas sordas y los oyentes aprenderan la lengua de señas
  aprenderan la lectoescritura las personas sordas, deletreo dactilologico, lectura labial
  la lengua de señas LSCH, cultura de Chile, pueblos originarios teatro, poesia,danza
  Teniendo una comunicacion mas inclusiva y logrando erradicar la analfabetizacion
  que afecta a la comunidad sorda y rompiendo la barrera del silencio.</H4>
