  <h1>Hola Bienvenidos </h1>
  <H2> Somos Joaquin y Patricia un Taller para Personas Sordas y Oyentes
  donde aprenderan la LectoEscritura Deletreo Dactilologico Lectura Labial
  Lengua de Señas LSCH.
  Teniendo una comunicacion mas inclusiva y logrando erradicar la analfabetizacion
  que afecta a la Comunidad Sorda.</H2>
