<div class="boton">
  <i class="boton"></i>
  <span class="boton">liked!</span>
</div>
<script class="boton">
    $(function() {
    $( "i" ).click(function() {
      $( "i,span" ).toggleClass( "press", 1000 );
    });
  });
</script>
