<div class="container">
  <h1>Hola</h1>
  <h2>Somos Joaquin y Patricia  Muestra Tu Seña un Taller para personas sordas</h2>
  <div>
    <%= image_tag "logo.jpg", width: 200 %>
  </div>
  <a href="muestratusena@gmail.com">Correo electronico</a><br>
  <a href="https://facebook.com/">Facebook</a>
</div>
