<div class="container">
<h1>Hola</h1>
<h2>Somos Joaquin y Patricia  Muestra Tu Seña un Taller para personas Sordas</h2>
<%= image_tag "logo.jpg", width: 300 %>
<a href="muestratusena@gmail.com">Escribenos un email</a><br>
<a href="https"></a>

</div>
