<div class="container">

  <%= render "shared/bienvenidos" %>

  <div><%= image_tag "logo.jpg"  height: 300, width: 400 %></div>


  <a href="muestratusena@gmail.com">Correo electronico</a><br>
  <a href="https://facebook.com/muestratusena">https://www.facebook.com/muestratusena</a><br>

  <%= link_to "Iniciar sesión", new_user_session_path, class: "btn btn-primary" unless user_signed_in? %>

</div>
