<div class="container">
<h1>Hola</h1>
<h2>Somos Joaquin y Patricia  Muestra Tu Seña un Taller para personas Sordas
aprenderan la Lectoescritura Lectura Labial deletreo dactilologico Lengua de Señas LSCH</h2>
<%= image_tag "logo.jpg", width: 300 %>
<a href="muestratusena@gmail.com">Escribenos un email</a><br>
<a href="https://www.facebook.com/muestratusena"></a>
<a href=" celular +56996405366"></a>

</div>
