<div class="container">

  <h2>Donaciones</h2>
  <div class="text-center">
    <%= image_tag "donaciones.jpg", alt:"Bco BCI CTA. A LA VISTA N°777010345994, RUT 10.345.994-k, muestratusena@gmail.com"%>
  </div>
</div>
