<div class="container">

  <h2>Legal</h2>

  <p> Servicios de Asesoramientos Representacion Juridica IdenBiz Asesoria Legal
      Hugo Gonzalo Nieve Eirl.
      Merced n. 838 A Piso 11 oficina 117 Santiago
      fono :+56224053018
      info@cl.idenbiz.com
      Proteger la propiedad intelectual de derechos de autor, manuales digitales PDF ,videos educativos de señas, la representaciones
      de canciones infantiles en señas, los talleres de cultura de Chile, cultura de pueblos originarios, danza, teatro, poesia
      marioneta la abuseñas,cuentoseñas, deportes, comida saludable,
      modulos de juegos de roles de primeros auxilios, oficinas publicas. atencion de alerta para los usuarios sordos gps.
      protecer los manuales protección tecnica.
      Agradecimientos : Universidad Santo Tomas a Constanza Gaete, por su apoyo constante y Don Patricio Escobar
      Profesores de LeWagon por su paciencia y entrega en ayudarnos en impulsar este proyecto adelante que es la experiencia de toda una vida.
      Sr.Joaquin Alejandro Antuña Espinoza compañero por su  colaboracion este proyecto y su compañera
      la programadora de páginas web Sra.Maria Patricia Avendaño Soto. auxiliar de parvulos, capacitadora
      e intérprete en lengua de señas LSCH por más de 20 años de experiencia, estudio Braile en Agaci asociacion de ciegos,
      estudio teatro, oratoria, bailarina de danza folkclorica. ha interpretado señas tactil a sordos ciegos en Santiago de Chile.
      durante 3 años. ademas ha viajado a Sao Pablo Brasil como interprte en el estadio Murumbi
      ademas en el primer seminario de señas en Santiago de Chile el año 2000 ademas viajando como  interprete en Buenos Aires
      Argentina en convenciones. ha podido ser interprete en el registro civil  para las personas sordas que desean casarse.
      Agradecer al docente sordo profundo Marcos Baez en la presentación de videos educacionales para difundir
      la lengua de señas LSCH.
      queda prohibida toda reproduccion oh comercializacion de la pagina educativa Muestra Tu Seña. sera penalizada por la ley.
      Directora y fundadora de Muestra Tu Seña con derechos de autor y dueña de la marca Sra. Maria Patricia Avendaño Soto </p>

  <%= link_to "Iniciar sesión", new_user_session_path, class: "btn btn-primary" unless user_signed_in? %>

</div>
