<div class="container">

  <h2>Legal</h2>

  <p> Está prohibida su comercialización y reproducción de vídeos de señas fotos
      manuales protección de nivel técnico proteger la propiedad intelectual respaldado
      por equipo legal de abogados de derechos de autor.
      Agradecimientos : Al equipo humano de programadores de páginas web y al
      Sr. Joaquin Alejandro Antuña Espinoza por su colaboración en este proyecto y
      a la programadora de páginas web Sra. Maria Patricia Avendaño Soto capacitadora
      e intérprete en lengua de señas LSCH con más de 20 años de experiencia ayudando a
      las personas sordas a comunicarse y sordos ciegos intérprete táctil. Agradecer al
      Docente sordo Marcos Baez en la presentación de videos educacionales para difundir
      la lengua de señas.Agradecimientos a Santo Tomas y a Cony Gaete por su apoyo constante.
      Profesores Le Wagon por su paciencia y entrega en ayudarnos a impulsar este proyecto
      adelante que es la experiencia de toda una vida.</p>

  <%= link_to "Iniciar sesión", new_user_session_path, class: "btn btn-primary" unless user_signed_in? %>

</div>
