<h2><%= @lesson.name %></h2>
<%= cl_video_tag( @lesson.video.key,
  :loop => false, :controls => true,
  :transformation => [
    :height=>360, :width=>480, :crop=>"pad",
    :quality=>70, :duration=>"42"],
  :fallback_content => "Your browser does not support HTML5 video tags." ) %>
  <% @lesson.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>

<br>
<%= link_to "volver a lecciones", lessons_path %>
