.navbar-lewagon {
  justify-content: space-between;
  background-image: url(./mano.jpg);
  background-size: contain;
  //background: $morado;
  color: $orange;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}
$navbar-light-color: white;

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text,
.navbar-nav .nav-link {
    color: white;
}
