<p>Bienvenido <%= @email %>!</p>

<p>Para confirmar tu cuenta correo en "Muestra tu seña" sigue link de abajo:</p>

<p><%= link_to 'Confirma mi cuenta', confirmation_url(@resource, confirmation_token: @token) %></p>
