<p>Hola <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>-Te informamos que tu correo sera cambiado a: <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Te informamos que tu correo se cambio a: <%= @resource.email %>.</p>
<% end %>
