<p>Hola <%= @resource.email %>!</p>

<p>Alguien nos pidió cambiar tu contraseña, si fuiste tú puedes hacerlo con el siguiente link.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu no fuiste por favor ignora este email.</p>
<p>Su contraseña no cambiará hasta que acceda al enlace anterior y cree una nueva.</p>
